form input{
  display :inline;
list-style: none;
margin-top: 75px;
margin-left: 75px;
margin-right: 0px;
margin-bottom: 0px;
font-family: monospace;
font-size: 110%;
}
form button{
  list-style: none;
  background-color: lightblue;
  height: 50px;
  margin-top: 75px;
  margin-left: 75px;
  margin-right: 75px;
  margin-bottom: 75px;
  font-family: monospace;
  font-size: 110%;
}
form{ text-align: center;

}
